name: CWTools CI

on:
  push:
    branches:    
    - master

jobs:
  cwtools_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Get date of last commit
      run: |
        BEFORE=$(cat "$GITHUB_EVENT_PATH" | jq -r '.before')
        echo "https://api.github.com/repos/$GITHUB_REPOSITORY/commits/$BEFORE"
        curl -H "Authorization: token $GITHUB_TOKEN" -i "https://api.github.com/repos/$GITHUB_REPOSITORY/commits/$BEFORE" | jq -r '.commit.committer.date'

